<div id="namesConsolidationConfirmationController" translate-namespace="namesConsolidation.validationErrors">
    <div class="modal-header">
        <h2 class="modal-title" translate=".confirmationTitle"></h2>
    </div>
    <div class="modal-body">
        <div class="input-wrap" translate="{{vm.options.message}}"></div>
    </div>
    <div class="modal-footer">
        <div class="row">
            <div class="pull-right col-sm-12 modal-footer-buttons">
                <button type="button" class="btn" data-ng-click="vm.cancel()" translate="button.cancel"></button>
                <button type="button" class="btn btn-primary" data-ng-click="vm.proceed()" translate="button.proceed"></button>
            </div>
        </div>
    </div>
</div>