<div ng-form="vm.form" ip-form translate-namespace="jurisdictions.maintenance.validNumbers">
    <ip-maintenance-modal-header data-page-title=".testPattern" data-dismiss="vm.dismiss()" data-on-apply="vm.apply()" data-is-apply-enabled="vm.isApplyEnabled()" data-has-unsaved-changes="vm.hasUnsavedChanges()" data-is-add-another="false" is-edit-mode="true">
    </ip-maintenance-modal-header>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-9">
                <ip-text-field name="regexPattern" label="{{'.numberPattern' | translate}}" ng-model="vm.formData.pattern" ng-class="{'edited': vm.form.regexPattern.$dirty}" ng-maxlength="254"></ip-text-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9">
                <ip-text-field name="testPatternNumber" label="{{'.testPatternNumber' | translate}}" ng-model="vm.formData.testPatternNumber" ng-class="{'edited': vm.form.testPatternNumber.$dirty}" ip-field-error="{{vm.errorPattern}}" ng-change="vm.resetErrorPattern()"></ip-text-field>
            </div>
        </div>
        <div class="row">
            <button id="runTest" class="btn btn-prominent clear" style="margin-left: 26%" data-ng-click="vm.onTestPatternClick()" data-ng-disabled="vm.shouldDisableTestPattern()">
                <span translate=".runTest"></span>
            </button>
        </div>
    </div>
</div>