<?xml version="1.0" encoding="utf-8"?>
<appSettings xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!-- in seconds-->
  <add key="MonitorInterval" value="5" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  <add key="InnographyOverrides:pp" value="http://localhost/e2e/" xdt:Transform="Insert" xdt:Locator="Match(key)" />
  <add key="IntegrationServerBaseUrl" value="http://localhost/inprotech-integration-server-defaultinstance/" xdt:Transform="Insert" />
  <add key="StorageServiceBaseUrl" value="http://localhost/inprotech-storage-service-defaultinstance/" xdt:Transform="Insert" />
  <add key="InprotechVersion" value="13.1.0" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  <add key="cpa.sso.clientId" value="inprotech" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  <add key="cpa.sso.clientSecret" value="WbaBuv98Tqr4oblLIoIIP4dm5KV9eVQThFoIXK8TyhBPFlYgOaPjhKjO524Y2Hdg"
       xdt:Transform="Replace" xdt:Locator="Match(key)" />
  <!--<add key="FileBaseApiUrl" value="https://ipclouddynamiccontent3s3kijiuato26.azurewebsites.net:443/" xdt:Transform="Insert" />-->
  <!--<add key="HmrcOverride" value="http://localhost/e2e/hmrc" xdt:Transform="Insert" />-->
  <add key="PublicIpAddress" value="1.2.3.4" xdt:Transform="Insert" />
</appSettings>