<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">
	<extensions>
		<add assembly="Microsoft.ApplicationInsights.NLogTarget" />
	</extensions>
	<targets>
		<target name="console" xsi:type="ColoredConsole" 
		        layout="${time}|${event-properties:item=RequestId:padding=36}|${message}" />
		<target name="default-log-file" xsi:type="File" fileName="Logs\${shortdate}.log"
		        layout="${longdate}|${level:uppercase=true}|${logger}${newline}${message}${when:when='${all-event-properties:separator=''}'!='':${newline}${all-event-properties:separator=\r\n}}${when:when='${event-context:AdditionalInformation}'=='':else=${newline}Additional Information:${newline}${event-context:AdditionalInformation}${newline}}${onexception:EXCEPTION OCCURRED\:${exception:format=type,message,stacktrace:maxInnerExceptionLevel=15}}" />
		<target name="security" xsi:type="File" fileName="Logs\security\${shortdate}.log"
		        layout="${longdate}|${level:uppercase=true}|${logger}${newline}${message}${newline}${all-event-properties:separator=\r\n}${newline}Additional Information:${newline}${event-context:AdditionalInformation}${newline}${onexception:EXCEPTION OCCURRED\:${exception:format=type,message,stacktrace:maxInnerExceptionLevel=15}}${newline}" />
    <target name="useraudit" xsi:type="File" fileName="Logs\useraudit\${shortdate}.log"
            layout="${longdate}|${level:uppercase=true}|${event-context:IPAddress:padding=-15}|${logger}${newline}${message}" />
    <target name="debug-log-file" xsi:type="File" fileName="Logs\${shortdate}-debug.log"
		        layout="${longdate}|${level:uppercase=true}|${message}${newline}${all-event-properties:separator=\r\n}${onexception:EXCEPTION OCCURRED\:${exception:format=type,message,stacktrace:maxInnerExceptionLevel=15}}${newline}" />
		<target type="ApplicationInsightsTarget" name="aiTarget" />
	</targets>
	<rules>
    <logger name="*HandleSsoException" minlevel="warn" writeTo="security" />
    <logger name="Inprotech.Web.Security.SignInController" minlevel="warn" writeTo="useraudit" final="true" />
    <logger name="Inprotech.Web.Security.ResetPassword.ResetPasswordController" minlevel="warn" writeTo="useraudit" final="true" />
    <logger name="Inprotech.Server.Security.WindowsAuthenticationMiddleware" minlevel="warn" writeTo="useraudit" final="true" />
		<logger name="*DataSecurityException" minlevel="warn" writeTo="security" final="true" />
		<logger name="*" minlevel="Trace" writeTo="aiTarget" />
		<logger name="*" minlevel="Trace" writeTo="console" />
		<logger name="*" minlevel="Info" writeTo="default-log-file" />
	</rules>
</nlog>