<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<targets>
		<target name="console" xsi:type="Console" layout="${longdate} ${level} ${message}" />
		<target name="default-log-file" xsi:type="File" fileName="Logs\${shortdate}.log"
		        layout="${longdate}|${level:uppercase=true}|${logger}${newline}${message}${newline}${all-event-properties:separator=\r\n}${newline}Additional Information:${newline}${event-context:AdditionalInformation}${newline}${onexception:EXCEPTION OCCURRED\:${exception:format=type,message,stacktrace,Data:maxInnerExceptionLevel=15}}${newline}" />
	</targets>
	<rules>
		<logger name="*" minlevel="Debug" writeTo="console" />
		<logger name="*" minlevel="Warn" writeTo="default-log-file" />
	</rules>
</nlog>