<div class="modal-header">
    <h2 class="modal-title">{{ 'dmsIntegration.iManage.enterCredentials' | translate}}</h2>
</div>
<div class="modal-body">
    <form [formGroup]="formGroup">
      {{'dmsIntegration.iManage.credentials.testMessage' | translate}}
      <hr/>
        <ipx-text-field *ngIf="showUsername" name="testUsername" autoCompleteName="testUsername" formControlName="username" apply-edited label="dmsIntegration.iManage.credentials.username" required></ipx-text-field>
        <ipx-text-field *ngIf="showPassword" [mask]="true" name="testPassword" autoCompleteName="testPassword" formControlName="password" apply-edited label="dmsIntegration.iManage.credentials.password" required></ipx-text-field>
    </form>
    <button type="button" class="btn btn-save pull-right" name="save" [disabled]="!formGroup.dirty || formGroup.status === 'INVALID'" (click)="apply($event)" style="margin-left: 2px">{{'Log In' | translate}}</button>
    <button type="button" class="btn pull-right" (click)="cancel($event)">{{'Cancel' | translate}}</button>
</div>