<form name="fileLocationUpdateForm" #ngForm="ngForm">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="row">
          <div class="col-md-9">
            <ipx-typeahead name="fileLocation" config="fileLocation" [(ngModel)]="formData.fileLocation"
              label="{{labelTranslationKey + '.fileLocation'}}">
            </ipx-typeahead>
          </div>
          <div class="col-sm-3">
            <ipx-checkbox name="chkClearFileLocation" [(ngModel)]="clear" label="bulkUpdate.remove">
            </ipx-checkbox>
          </div>
        </div>
        <div class="row">
          <div class="col-md-9">
            <div class="input-wrap">
              <label>
                {{ labelTranslationKey + '.whenMoved' | translate }}
              </label>
              <label style="text-align: left;">
                {{formData.whenMoved |  localeDate : commonUtilityService.getTimeOnlyFormat()}}
              </label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-9">
            <ipx-typeahead name="movedBy" config="staff" [(ngModel)]="formData.movedBy"
              label="{{labelTranslationKey + '.movedBy'}}">
            </ipx-typeahead>
          </div>
        </div>
        <div class="row">
          <div class="col-md-9">
            <ipx-text-field name="bayNumber" maxlength="20" [(ngModel)]="formData.bayNumber"
              label="{{labelTranslationKey + '.bayNumber'}}">
            </ipx-text-field>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>