obj
bin
ipch
debug
release
testresults
build
InprotechOutput
*.user
*.suo
*.Cache
*.cache
*.bak
*.ncb
*.log 
*.sdf
*.opensdf
*.press
*.DS_Store
*.trx
*.dotCover
Local.Testsettings
*.vsmdi
Thumbs.db 
thumbs.db 
_ReSharper.*
*.resharper
*\_ReSharper.*
Storage/Profiles
Binaries
ClientBin
TempImgFolder
StandaloneInterfaces
[pP]ackages
**/[Cc]ontent/[Cc]ss/*.css
**/[Cc]ontent/[Cc]ss/**/*.css
*.vsp
*.orig
!.msbuild/**
.tmp
.build
.out
.asm
.idea
._client
*.log
.vscode
.vs
!xBinaries/**
transpiled
!condor/.vscode
npm-cache
!condor/client/batchEventUpdate/externaldependency/**
Visual Studio 2019