.cpa-icon-exclamation-square-noerror .cpa-icon-exclamation-square {
    color: #909090;
}

.schemaMapping-button {
    margin-right: 8px;
    margin-top: 8px;
    min-width: 100px;
}

.dropzone {
    padding-top: 0px;
    padding-bottom: 5px;
    border-radius: 10px;
    border-width: 3px;
    border-style: dashed;
    >h3 {
        text-align: center
    }
}

div.dragover {
    background: #e8e8e8;
}

.min-margin {
    margin-bottom: 5px;
    margin-top: 5px;
}

.top-margin {
    margin-top: 15px;
    margin-bottom: 10px;
}