<ipx-sticky-header>
    <ipx-page-title [title]="'checklistConfiguration.pageTitle'">
    </ipx-page-title>
    <div class="search-options search-options-header">
        <div class="heading">
            <h5 translate="searchOptions" class="ng-scope"></h5>
            <a class="btn btn-icon btn-no-bg" role="button" [ngClass]="{collapsed: !showSearchBar}" (click)="showSearchBar = !showSearchBar">
                <div placement="left" tooltip="{{'collapseExpand' | translate}}">
                    <span class="cpa-icon cpa-icon-chevron-up" name="chevron-up"></span>
                </div>
            </a>
        </div>
    </div>
</ipx-sticky-header>
<div ipx-resize-handler [resize-handler-type]="'Panel'" style="margin-top: 80px;">
    <div class="search-options" [@slideInOutVisible]="showSearchBar ? 'open' : 'closed'">
        <form>
            <div class="row">
                <div class="col-sm-12">
                    <div class="input-wrap-group group-inline">
                        <span style="width: 16.6667%" translate="checklistConfiguration.search.searchBy"></span>
                        <ipx-radio-button value="characteristic" name="searchType" [(ngModel)]="matchType">
                            {{'checklistConfiguration.search.searchByCharacteristics' | translate}}
                        </ipx-radio-button>
                        <ipx-radio-button value="case" name="searchType" [(ngModel)]="matchType">
                            {{'checklistConfiguration.search.searchByCase' | translate}}
                        </ipx-radio-button>
                        <ipx-radio-button value="criteria" name="searchType" [(ngModel)]="matchType">
                            {{'checklistConfiguration.search.searchByCriteria' | translate}}
                        </ipx-radio-button>
                        <ipx-radio-button value="question" name="searchType" [(ngModel)]="matchType">
                            {{'checklistConfiguration.search.searchByQuestion' | translate}}
                        </ipx-radio-button>
                    </div>
                </div>
            </div>
            <hr />
            <ipx-checklist-search-by-characteristics #searchByCharacteristics [viewData]="viewData" [hidden]="matchType !== 'characteristic'" (clear)="clear()" (search)="search($event)">
            </ipx-checklist-search-by-characteristics>
            <ipx-checklist-search-by-case #searchByCase [viewData]="viewData" [hidden]="matchType !== 'case'" (clear)="clear()" (search)="search($event)">
            </ipx-checklist-search-by-case>
            <ipx-checklist-search-by-criteria [viewData]="viewData" [hidden]="matchType !== 'criteria'" (clear)="clear()" (search)="search($event)">
            </ipx-checklist-search-by-criteria>
            <ipx-checklist-search-by-question [viewData]="viewData" [hidden]="matchType !== 'question'"  (clear)="clear()" (search)="search($event)">
            </ipx-checklist-search-by-question>
        </form>
    </div>
    <div class="table-container">
        <div class="table-title">
            <h2 translate="Checklist Criteria"></h2>
            <button id="add" class="btn btn-icon" tooltip="{{ !canCreateNewChecklist ?  null : 'grid.messages.addItem' | translate: { itemName: itemName } }}" tooltipPlacement="left" (click)="addNewChecklist()" [disabled]="!canCreateNewChecklist">
                <span class="cpa-icon cpa-icon-plus-circle"></span>
            </button>
        </div>
        <ipx-kendo-grid #searchResultsGrid id="searchResults" name="searchResults" [dataOptions]="searchGridOptions">
        </ipx-kendo-grid>
        <ng-template #criteriaDetailsTemplate let-dataItem let-c="ctx">
            <a *ngIf="dataItem.id" class="result-cell-link" [uiParams]="{id: dataItem.id, rowKey: dataItem.rowKey}">{{dataItem.id}}
            </a>
        </ng-template>
        <ng-template #inheritedDetailsTemplate let-dataItem let-c="ctx">
            <a *ngIf="dataItem.isInherited" class="btn btn-icon btn-no-bg" [uiParams]="{id: dataItem.id, rowKey: dataItem.rowKey}">
                <span class="cpa-icon text-blue-inherited cpa-icon-inheritance" [tooltip]="'Inheritance.inherits' | translate">
                </span>
            </a>
            <div *ngIf="dataItem.isHighestParent" class="btn btn-icon btn-no-bg">
                <a class="btn-no-bg" [uiParams]="{id: dataItem.id, rowKey: dataItem.rowKey}" button-icon="inheritance" [tooltip]="'HighestParent' | translate">
                    <span class="cpa-icon cpa-icon-grey cpa-icon-inheritance" name="inheritance"></span>
                </a>
            </div>
        </ng-template>
        <button class="btn btn-link grid-message" [disabled]="!canCreateNewChecklist" (click)="addNewChecklist()">
            <span class="cpa-icon cpa-icon-plus-circle"></span>
            <em style="margin-left: 5px">{{ 'grid.messages.addItem' | translate: { itemName: itemName } }}</em>
        </button>
    </div>
</div>
