<div class="row">
    <div class="col-md-4">
        <ipx-color-picker #picker [label]="'Default Color Picker:'" [(ngModel)]="value"></ipx-color-picker>
    </div>
    <div class="col-md-4">
        <strong>Selected color in {{ picker.format }}: {{ value }}</strong>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-4">
        <ipx-color-picker #picker1 [label]="'Disabled color picker:'" [disabled]="isDisabled" [(ngModel)]="color"></ipx-color-picker>
    </div>
    <div class="col-md-4">
        <input type="checkbox" class="k-checkbox" id="disabled" [(ngModel)]="isDisabled">
        <label class="k-checkbox-label" for="disabled">Disabled</label>
    </div>
</div>

<br>
<div class="row">
    <div class="col-md-4">
        <ipx-color-picker #picker2 [label]="'Custom color picker:'" [format]="formatRgb" [settings]="settings" [(ngModel)]="customRgb"></ipx-color-picker>
    </div>
    <div class="col-md-4">
        <strong>Selected color in {{ picker2.format }}: {{ customRgb }}</strong>
    </div>
</div>