<!-- template reference for various topics defined below -->

<ng-template ipxTemplateName="nameChangePopoverRef">
    <div>
        <p>
            <span [translate]="'workflows.eventcontrol.nameChange.info.line1'"></span>
        </p>
        <p>
            <span [translate]="'workflows.eventcontrol.nameChange.info.line2'"></span>
        </p>
    </div>
</ng-template>

<ng-template ipxTemplateName="reminderInfoPopoverRef">
    <div>
        <p>
            <span [translate]="'workflows.eventcontrol.reminders.info'"></span>
        </p>
        <p>
            <span [translate]="'workflows.eventcontrol.reminders.info1'"></span>
        </p>
    </div>
</ng-template>

<ng-template ipxTemplateName="actionPopoverRef">
    <div>
        <p>
            <strong [translate]="'caseview.actions.info.OpenAcion'"></strong>
            <span [translate]="'caseview.actions.info.OpenActionContent'"></span>
        </p>
        <p>
            <strong [translate]="'caseview.actions.info.ClosedAction'"></strong>
            <span [translate]="'caseview.actions.info.ClosedActionContent'"></span>
        </p>
        <p>
            <strong [translate]="'caseview.actions.info.PotentialActions'"></strong>
            <span [translate]="'caseview.actions.info.PotentialActionsContent'"></span>
        </p>
        <p>
            <strong [translate]="'caseview.actions.info.AllEvents'"></strong>
            <span [translate]="'caseview.actions.info.AllEventsContent'"></span>
        </p>
        <p>
            <strong [translate]="'caseview.actions.info.AllDetails'"></strong>
            <span [translate]="'caseview.actions.info.AllDetailsContent'"></span>
        </p>
        <p>
            <strong [translate]="'caseview.actions.info.AllCycles'"></strong>
            <span [translate]="'caseview.actions.info.AllCyclesContent'"></span>
        </p>
    </div>
</ng-template>

<ng-template ipxTemplateName="eventOccurrenceRef">
    <div>
        <p>
            <b [translate]="'workflows.eventcontrol.eventOccurrence.infoBubble.onTheDueDateTitle'"></b>
            <span [translate]="'workflows.eventcontrol.eventOccurrence.infoBubble.onTheDueDateDesc'"></span>
        </p>
        <p>
            <b [translate]="'workflows.eventcontrol.eventOccurrence.infoBubble.immediateTitle'"></b>
            <span [translate]="'workflows.eventcontrol.eventOccurrence.infoBubble.immediateDesc'"></span>
        </p>
    </div>
</ng-template>

<ng-template ipxTemplateName="dmsWorksiteRef">
    <div>
        <div>
            <b [translate]="'dmsIntegration.iManage.workspaces.infoBubble.forCases'"></b>
        </div>
        <div>
            <span [translate]="'dmsIntegration.iManage.workspaces.infoBubble.cases'"></span>
        </div>

        <div>
            <b [translate]="'dmsIntegration.iManage.workspaces.infoBubble.forName'"></b>
        </div>
        <div>
            <span [translate]="'dmsIntegration.iManage.workspaces.infoBubble.name'"></span>
        </div>
    </div>
</ng-template>