<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
		<section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
		<section name="httpCompressionModule" type="CPASS.SystemFramework.Web.HttpCompress.SectionHandler,CPASS.SystemFramework.Web"/>
		<section name="cassette" type="Cassette.CassetteConfigurationSection, Cassette" requirePermission="false"/>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
	</configSections>
	<dataConfiguration defaultDatabase="defaultConnection"/>
	<connectionStrings>
		<add providerName="System.Data.SqlClient" name="defaultConnection" connectionString="Data Source=.;Initial Catalog=IPDEV;Integrated Security=True;Application Name=Inprotech"/>
		<!-- Example connection string settings -->
		<!-- Simplistic trusted connection setup -->
		<!-- <add key="defaultConnection" value="data source=SERVERNAME;database=DATABASENAME;Trusted_Connection=true"/> -->
		<!-- Trusted connection with connection pooling, SERVERNAME can be IP Address -->
		<!-- <add key="defaultConnection" value="data source=XXX.XXX.XXX.XXX;database=DATABASENAME;Trusted_Connection=true;Pooling=true;Connection Reset=false"/> -->
		<!-- SQL Authetication mode, note Persist Security Info must be set to true if using SQL Authentication mode -->
		<!-- <add key="defaultConnection" value="data source=(local);database=DATABASENAME;uid=USERNAME;pwd=PASSWORD;Persist Security Info=true"/> -->
		<!-- Multiple database server instances on the same server -->
		<!-- <add key="defaultConnection" value="data source=SERVERNAME\INSTANCENAME;initial catalog=DATABASENAME;persist security info=true;user id=USERNAME;pwd=PASSWORD;pooling=true;packet size=4096"/> -->
	</connectionStrings>
	<!-- cache specific settings -->
	<cachingConfiguration defaultCacheManager="Cache Manager">
		<cacheManagers>
			<add expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="Null Storage" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="Cache Manager"/>
		</cacheManagers>
		<backingStores>
			<add encryptionProviderName="" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="Null Storage"/>
		</backingStores>
	</cachingConfiguration>
	<cassette rewriteHtml="false" cacheDirectory="AssetCache" debug="false"/>
	<!-- application specific settings -->
	<appSettings>
		<add key="connectionStringName" value="defaultConnection"/>
		<!-- When Single Sign On is turned on, users are automatically signed into the WorkBenches provided that
      - their credentials matches WB identity.
      - they are licensed.              
    -->
		<add key="SingleSignOn" value="false"/>
		<!--&lt;add key=&quot;ExternalPort&quot; value=&quot;9000&quot; /&gt;-->
		<!-- When Active Directory Integration is turned on, the currently supported integration is to display
      Windows domain user names in a picklist.  
      Currently, this option is only available when SingleSignOn is true, and 
      the NameExternalDirecory.config has provided the necessary credential and configuration information to log into the Active Directory.
    -->
		<add key="ActiveDirectoryIntegration" value="true"/>
		<!-- the default recipient&apos;s email address for the Contact Us link -->
		<add key="ContactUsEmailAddress" value="someone@clarivate.com"/>
		<add key="SmtpServer" value="localhost"/>
		<add key="DisplayResourceId" value="false"/>
		<!-- The time, in seconds, before a Sql Command times out -->
		<add key="SqlTimeout" value="120"/>
		<add key="ReportProvider" value="MSReportingServices"/>
		<!-- Microsoft SQL Server Reporting Services Integration -->
		<add key="ReportServiceUrl" value="http://localhost/ReportServer/ReportService2005.asmx"/>
		<add key="ReportServiceDataExtensionAssembly" value="CPASS.SystemFramework.ReportingServices.Extensions"/>
		<add key="ReportServiceDataInstance" value="CPASS.SystemFramework.ReportingServices.Extensions.DataExtensions.DsInstance"/>
		<!-- ReportServiceEntryFolder cannot contain any of : ? ; @ &amp; = + $ , \ * &gt; &lt; | . &quot; -->
		<add key="ReportServiceEntryFolder" value="Inpro"/>
		<!-- Time in seconds before request is automatically timed out when reports are generated using the report service. -->
		<!-- Default is set to 300 seconds.  (5 minutes). -->
		<add key="ReportServiceTimeout" value="300"/>
		<!-- The name of the DataSource to be used for Case, Name and Case Fees reports -->
		<add key="ReportServiceDataSource" value="CPASS Report Datasource"/>
		<!-- certificate name for SSL -->
		<!-- The certificate should be placed in the virtual root of this application,  -->
		<!-- or a location that can be referenced from the virtual root of this application. e.g /CPAInpro/xxx.cer -->
		<add key="CertificateFileName" value="ssl.cer"/>
		<!-- default namespace prefix -->
		<add key="CPANamespace" value="ds"/>
		<!-- interval by which the site control cache will be refreshed: in minutes -->
		<add key="SiteControlExpiration" value="10"/>
		<!-- URl required for Cases World Map functionality -->
		<add key="CasesWorldMap_URL" value="http://maps.google.com/maps?file=api"/>
		<add key="CasesWorldMap_Version" value="3.3"/>
		<!-- Keys required for Cases World Map functionality -->
		<add key="CasesWorldMap_InternalKey" value="ABQIAAAA5jYcEYgtI1-rEAlCIsY3pBT2yXp_ZAY8_ufC3CFXhHIE1NvwkxRRhlsY8TTz3KUHM6tlWJZvuVem0A"/>
		<add key="CasesWorldMap_ExternalKey" value="ABQIAAAA5jYcEYgtI1-rEAlCIsY3pBT2yXp_ZAY8_ufC3CFXhHIE1NvwkxRRhlsY8TTz3KUHM6tlWJZvuVem0A"/>
		<!-- Inprotech Windows Services -->
		<!-- Please refer to implementation notes regarding the system requirements and setups you need to perform prior to enabling this option -->
		<!-- Inprotech will use this as information to get attachments from internal network (behind a firewall) -->
		<!-- via Inprotech Windows Services. -->
		<add key="InprotechServices_MachineName" value="localhost"/>
		<add key="InprotechServices_Port" value="16400"/>
		<!-- Disable Silverlight -->
		<add key="IsSilverlightDisabled" value="false"/>
		<!-- Set ResultSetChunkSizeForToDoList -->
		<add key="ResultSetChunkSizeForToDoList" value="200"/>
		<add key="ExportCaseDetails_ReportingServices" value="false"/>
		<!-- Disable SMTP - Send Emails via client -->
		<add key="IsSMTPDisabled" value="false"/>
		<add key="AppsVirtualPath" value="apps"/>
		<add key="webpages:Version" value="3.0.0.0"/>
		<add key="webpages:Enabled" value="true"/>
		<add key="IntegrationServerBaseUrl" value="http://localhost/inprotech-integration-server/"/>
		<add key="EncryptionKey" value="P+AMRO+tp2oSBVocHYfAMgTGJq2eF2rF"/>
		<add key="CaseRefValidationEnabled" value="false"/>
		<add key="Apps:DmsProbe" value="/api/configuration/dmsIntegration/settingsview"/>
		<!-- A comma separated list of restricted characters int the query string to prevent AntiXSS attacks in the application. -->
		<add key="restrictedList" value=";,{,},`,javascript,alert(,alert%28,&lt;,&gt;,%3C,%3E"/>
		<add key="InprotechVersionFriendlyName" value=""/>
	</appSettings>
	<location path="." inheritInChildApplications="false">
		<system.web>
			<httpRuntime requestValidationMode="2.0" maxRequestLength="128000" enableVersionHeader="false"/>
			<!-- Apply a theme to the entire application -->
			<pages theme="Default" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" viewStateEncryptionMode="Always" enableViewStateMac="true">
				<namespaces>
					<add namespace="System.Web.Helpers"/>
					<add namespace="System.Web.Mvc"/>
					<add namespace="System.Web.Mvc.Ajax"/>
					<add namespace="System.Web.Mvc.Html"/>
					<add namespace="System.Web.Routing"/>
					<add namespace="System.Web.WebPages"/>
					<add namespace="Cassette.Views"/>
					<add namespace="CPASS.CPAInproma.Utils"/>
				</namespaces>
			</pages>
			<compilation defaultLanguage="c#" debug="true" targetFramework="4.7.2"/>
			<customErrors mode="Off" defaultRedirect="~/Desktop/Portal/ServerError.aspx"/>
			<identity impersonate="false"/>
			<authentication mode="Forms">
				<forms name=".CPASSInprotech" protection="All" timeout="60" loginUrl="~/security/signin" slidingExpiration="false"/>
			</authentication>
			<membership defaultProvider="InprotechMembershipProvider">
				<providers>
					<clear/>
					<add name="InprotechMembershipProvider" type="Inprotech.Core.ApplicationServices.InprotechMembershipProvider" connectionStringName="defaultConnection"/>
				</providers>
			</membership>
			<roleManager enabled="true" cacheRolesInCookie="false" defaultProvider="InprotechRoleProvider">
				<providers>
					<clear/>
					<add name="InprotechRoleProvider" connectionStringName="defaultConnection" type="Inprotech.Core.ApplicationServices.InprotechRoleProvider"/>
					<add name="InprotechTaskSecurityProvider" connectionStringName="defaultConnection" type="Inprotech.Core.ApplicationServices.InprotechTaskSecurityProvider"/>
					<add name="InprotechSubjectSecurityProvider" connectionStringName="defaultConnection" type="Inprotech.Core.ApplicationServices.InprotechSubjectSecurityProvider"/>
				</providers>
			</roleManager>
			<machineKey validationKey="401FF6817637C40923FEB65220D30EEB84A8B5D854DA42B8C933EA1695FC4FEC990EC4149DCF31DC7D4F0A793CFE7E428DE118FDEF73432DE27683479575604A" decryptionKey="6051A35AB2F4714BEFA1BDE6F5895C426B5263DBE14F8D7733AF2936083BCD4E" validation="SHA1" decryption="AES"/>
			<httpCookies httpOnlyCookies="true" requireSSL="false"/>
		</system.web>
	</location>
	<httpCompressionModule preferredAlgorithm="gzip" compressionLevel="high">
		<excludedPaths>
			<add path="cassette.axd"/>
			<add path="WebResource.axd"/>
			<add path="ScriptResource.axd"/>
			<add path="Reserved.ReportViewerWebControl.axd"/>
			<add path="Desktop/Modules/Report/ReportModule.aspx"/>
			<add path="Desktop/Modules/Print/PrintModule.aspx"/>
			<add path="Desktop/Utils/Attachments.aspx"/>
			<add path="Desktop/Utils/ImageRequest.ashx"/>
			<add path="Desktop/Utils/PrintRequest.ashx"/>
		</excludedPaths>
	</httpCompressionModule>
	<location path="Desktop/Prerequisite.aspx">
		<system.web>
			<authorization>
				<deny verbs="OPTIONS" users="*"/>
				<deny verbs="TRACE" users="*"/>
				<allow users="?"/>
			</authorization>
		</system.web>
	</location>
	<location path="." inheritInChildApplications="false">
		<system.webServer>
			<security>
				<requestFiltering>
					<verbs allowUnlisted="true">
						<add verb="OPTIONS" allowed="false"/>
						<add verb="TRACE" allowed="false"/>
					</verbs>
				</requestFiltering>
			</security>
			<validation validateIntegratedModeConfiguration="false"/>
			<urlCompression doStaticCompression="false" doDynamicCompression="false"/>
			<modules runAllManagedModulesForAllRequests="true">
				<remove name="CompressionModule"/>
				<remove name="AppsBridgeHttpModule"/>
				<remove name="AntiXssHttpModule"/>
				<add name="CompressionModule" type="CPASS.SystemFramework.Web.HttpCompress.HttpModule,CPASS.SystemFramework.Web"/>
				<add name="AppsBridgeHttpModule" type="CPASS.SystemFramework.Web.AppsBridgeHttpModule, CPASS.SystemFramework.Web"/>
				<add name="AntiXssHttpModule" type="CPASS.SystemFramework.Web.AntiXssHttpModule, CPASS.SystemFramework.Web"/>
				<add name="CassetteHttpModule" type="Cassette.Aspnet.CassetteHttpModule, Cassette.Aspnet"/>
				<remove name="TelemetryCorrelationHttpModule"/>
				<add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" preCondition="managedHandler"/>
				<remove name="ApplicationInsightsWebTracking"/>
				<add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler"/>
			</modules>
			<handlers>
				<remove name="XFOPHandlerFactory"/>
				<remove name="RequestManager"/>
				<remove name="ReportingHandler"/>
				<add name="StronglyVersionXapHttpHandler" verb="GET" path="clientbin/*.xap" preCondition="integratedMode" allowPathInfo="true" type="CPASS.SystemFramework.Web.StronglyVersionXapHttpHandler,CPASS.SystemFramework.Web"/>
				<add name="XFOPHandlerFactory" verb="*" path="xfop/*.ashx" preCondition="integratedMode" type="CPASS.XFOP.XFOPHandler, CPASS.XFOP"/>
				<add name="RequestManager" verb="*" path="*.ashx" preCondition="integratedMode" type="CPASS.SystemFramework.Web.RequestManager,CPASS.SystemFramework.Web"/>
				<add name="ReportingHandler" verb="*" path="Reserved.ReportViewerWebControl.axd" preCondition="integratedMode" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
				<remove name="DataService"/>
				<add name="DataService" preCondition="integratedMode" verb="GET,POST" path="DataService.axd" type="Inprotech.Core.Server.DataServiceFactory, Inprotech.Core"/>
				<remove name="DataServiceNoCompression"/>
				<add name="DataServiceNoCompression" preCondition="integratedMode" verb="GET,POST" path="DataServiceNoCompression.axd" type="Inprotech.Core.Server.DataServiceFactory, Inprotech.Core"/>
				<remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit"/>
				<remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit"/>
				<remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
				<remove name="OPTIONSVerbHandler"/>
				<remove name="TRACEVerbHandler"/>
				<add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0"/>
				<add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0"/>
				<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
				<add name="CassetteHttpHandler" path="cassette.axd" preCondition="integratedMode" verb="*" allowPathInfo="true" type="Cassette.Aspnet.CassetteHttpHandler, Cassette.Aspnet"/>
			</handlers>
			<defaultDocument>
				<files>
					<clear/>
					<add value="Default.aspx"/>
					<add value="Index.cshtml"/>
				</files>
			</defaultDocument>
			<httpProtocol>
				<customHeaders>
					<clear/>
					<add name="X-Frame-Options" value="SAMEORIGIN"/>
					<add name="X-XSS-Protection" value="1; mode=block"/>
					<remove name="X-Powered-By"/>
				</customHeaders>
			</httpProtocol>
			<staticContent>
				<remove fileExtension=".xap"/>
			</staticContent>
			<rewrite>
				<rules>
					<rule name="HTTP to HTTPS redirect" stopProcessing="true">
						<match url="(.*)" />
						<conditions>
							<add input="{HTTPS}" pattern="off" ignoreCase="true"/>
						</conditions>
						<action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
					</rule>
				</rules>
				<outboundRules>
					<rule name="Add Strict-Transport-Security when HTTPS" enabled="true">
						<match serverVariable="RESPONSE_Strict_Transport_Security" pattern=".*" />
						<conditions>
							<add input="{HTTPS}" pattern="on" ignoreCase="true" />
						</conditions>
						<action type="Rewrite" value="max-age=315" />
					</rule>
				</outboundRules>
			</rewrite>
		</system.webServer>
	</location>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-6.2.0.0" newVersion="6.2.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.4.0.0" newVersion="4.4.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="AjaxMin" publicKeyToken="21ef50ce11b5d80f" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-5.14.5506.26196" newVersion="5.14.5506.26196"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.ApplicationInsights" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.15.0.44797" newVersion="2.15.0.44797"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.1" newVersion="5.0.0.1"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="v11.0"/>
			</parameters>
		</defaultConnectionFactory>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
		</providers>
	</entityFramework>
</configuration>
