<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="worksite" type="Inprotech.Modules.DMS.Configuration.WorkSite.WorkSiteSection, Inprotech.IntellectualPropertyManagementModel"
             allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" restartOnExternalChanges="true" />
  </configSections>
  <worksite>
    <contentTypes>
      <clear />
      <add application="ACROBAT" value="application/pdf" />
      <add application="EXCEL" value="application/vnd.ms-excel" />
      <add application="MIME" value="application/vnd.ms-outlook" />
      <add application="PPT" value="application/vnd.ms-powerpoint" />
      <add application="WORD" value="application/msword" />
    </contentTypes>
  </worksite>
</configuration>