<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="attachment" type="Inprotech.Core.Business.Attachment.Configuration.AttachmentSection, Inprotech.Core.Business"
             allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" restartOnExternalChanges="true" />
  </configSections>
  <attachment>
    <contentTypes>
      <clear />
      <add extension="doc" value="application/msword" />
      <add extension="docx" value="application/msword" />
      <add extension="pdf" value="application/pdf" />
      <add extension="ppt" value="application/vnd.ms-powerpoint" />
      <add extension="pptx" value="application/vnd.ms-powerpoint" />
      <add extension="rtf" value="application/msword" />
      <add extension="xls" value="application/vnd.ms-excel" />
      <add extension="xlsx" value="application/vnd.ms-excel" />
      <add extension="txt" value="text/plain" />
      <add extension="xml" value="text/xml" />
      <add extension="gif" value="image/gif" />
      <add extension="jpg" value="image/jpeg" />
      <add extension="jpeg" value="image/jpeg" />
      <add extension="png" value="image/png" />
    </contentTypes>
  </attachment>
</configuration>