<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<extensions>
		<add assembly="Microsoft.ApplicationInsights.NLogTarget" />
	</extensions>
    <targets async="true">
        <target name="default-log-file" xsi:type="File" 
                fileName="${basedir}/Logs/${shortdate}.log"
                layout="${longdate}|${level:uppercase=true}|${threadid}|${event-properties:InprotechRequestId}|${logger}${newline}${message}${newline}Url:${event-properties:Url}${newline}Thread Identity:${event-properties:ThreadIdentity}${newline}WindowsIdentity:${event-properties:WindowsIdentity}${newline}User:${event-properties:User}${newline}${onexception:EXCEPTION OCCURRED\:${newline}${exception:format=type,message,stacktrace:maxInnerExceptionLevel=25}}${newline}"/>
        <target name="caseref-log-file" xsi:type="File" 
                fileName="${basedir}/Logs/${shortdate}-case-ref-mismatch-trace.log"
                layout="${longdate}|${level:uppercase=true}|${threadid}|${event-properties:InprotechRequestId}|${logger}${newline}${message}${newline}Url:${event-properties:Url}${newline}Thread Identity:${event-properties:ThreadIdentity}${newline}WindowsIdentity:${event-properties:WindowsIdentity}${newline}User:${event-properties:User}${newline}${onexception:EXCEPTION OCCURRED\:${newline}${exception:format=type,message,stacktrace:maxInnerExceptionLevel=25}}${newline}"/>
        <target name="sessionexpiration-log-file" xsi:type="File"
                fileName="${basedir}/Logs/${shortdate}-session-expiration.log"
                layout="${longdate}|${message}|Url:${event-properties:Url}|WindowsIdentity:${event-properties:WindowsIdentity}"/>
        <target type="ApplicationInsightsTarget" name="aiTarget" />
    </targets>
    <rules>
        <logger name="CPASS.XFOP.*" minlevel="Warn" writeTo="caseref-log-file" final="true"/>
        <logger name="CPASS.CPAInproma.Desktop.ModulePages.Case.CaseRequest" minlevel="Warn" writeTo="caseref-log-file" final="true" />
        <logger name="CPASS.CPAInproma.Desktop.ModulePages.Case.CaseRefValidator" minlevel="Warn" writeTo="caseref-log-file" final="true" />
        <logger name="CPASS.SystemFramework.SessionExpirationException" minlevel="Warn" writeTo="sessionexpiration-log-file" final="true" />
        <logger name="*" minlevel="Trace" writeTo="aiTarget" />
        <logger name="*" minlevel="Warn" writeTo="default-log-file" />
    </rules>
</nlog>