<div id="change-password">
  <div class="modal-header">
    <h2 class="modal-title"> {{ 'signin.titleChangePassword' | translate }}</h2>
    <div class="modal-header-controls">
      <ipx-close-button type="button" (click)="close()"></ipx-close-button>
    </div>
  </div>

  <div class="modal-body">
    <div class="row">
      <div class="col-sm-12" *ngIf="(formData.error || formData.errorFromServer)">
        <div id="errorMessage" class="login-alert login-alert-error">
          {{ (formData.error || this.formData.errorFromServer) | translate }}
          <div *ngIf="formData.status == 'passwordPolicyValidationFailed'; then content">
          </div>
          <ng-template #content>
            <ul style="padding-inline-start: 20px;">
              <li *ngFor=" let item of passwordPolicyContent; trackBy: trackByFn">{{item}}</li>
            </ul>
          </ng-template>
        </div>
      </div>
      <div class="col-md-12">
        <form (ngSubmit)="submit()" name="changePassowrdForm" #f="ngForm">

          <div class="input-wrap required">
            <ipx-text-field name="oldPassword" [mask]="true" required label="{{ 'signin.current' | translate }}"
              autocomplete="off" placeholder="{{ 'signin.current' | translate }}" [(ngModel)]="formData.oldPassword">
            </ipx-text-field>

          </div>
          <div class="input-wrap required">
            <ipx-text-field name="newPassword" [mask]="true" required label="{{ 'signin.new' | translate }}"
              autocomplete="off" placeholder="{{ 'signin.new' | translate }}" [(ngModel)]="formData.newPassword">
            </ipx-text-field>
          </div>
          <div class="input-wrap required">
            <ipx-text-field name="confirmNewPassword" [mask]="true" required
              label="{{ 'signin.confirmpassword' | translate }}" autocomplete="off"
              placeholder="{{ 'signin.confirmpassword' | translate }}" [(ngModel)]="formData.confirmNewPassword"
              (change)="verifyPassword()">
            </ipx-text-field>
          </div>
          <div class="modal-footer">
            <button type="button" id="btnCancel" class="btn btn-cancel" (click)="close()">
              {{ 'signin.cancel' | translate }}</button>
            <button type="submit" id="btnSubmit" class="btn btn-primary" [disabled]="!f.form.valid">
              {{ 'signin.submit' | translate }}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>