<style>
    .modal-text-small {
        margin-left: 60px;
        width: 40% !important;
    }
    
    .modal-label-align-left {
        margin-left: -75px;
    }
</style>
<div ng-form="vm.changeCodeForm" ip-form>
    <div class="modal-header">
        <h2 class="modal-title">
            <div translate="jurisdictions.changeCode.changeJurisdictionCode"></div>
        </h2>
        <div class="modal-header-controls" ng-init="vm.initShortcuts()">
            <ip-save-button type="button" data-ng-click="vm.save()" data-ng-disabled="!vm.formValid()"></ip-save-button>
            <ip-close-button data-ng-click="vm.dismissAll()"></ip-close-button>
        </div>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="input-wrap">
                <label translate="jurisdictions.changeCode.currentCode" class="col-sm-4 modal-label-align-left"></label>
                <span class="input-wrap col-sm-4">{{vm.entity.jurisdictionCode}}</span>
            </div>
        </div>
        <div class="row">
            <ip-text-field name="newJurisdictionCode" ip-required class="modal-text-small col-sm-6" label="jurisdictions.changeCode.newCode" ng-model="vm.entity.newJurisdictionCode" label="" ng-class="{'edited': vm.changeCodeForm.newJurisdictionCode.$dirty}" data-ng-maxlength="3"
                ip-field-error="{{vm.getError('jurisdiction').message | translate}}"></ip-text-field>
            <ip-inline-dialog class="col-sm-1" data-content="{{:: 'jurisdictions.changeCode.newCodeHelp' | translate}} " data-placement="right"></ip-inline-dialog>
        </div>
    </div>
</div>