<div ng-form="vm.maintenance" ip-form>
    <div class="modal-header">
        <h2 class="modal-title">
            <div translate="Add Jurisdiction"></div>
        </h2>
        <div class="modal-header-controls">
            <ip-save-button type="button" data-ng-click="vm.save()" data-ng-disabled="vm.disable()"></ip-save-button>
            <ip-close-button data-ng-click="vm.dismissAll()"></ip-close-button>
        </div>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="input-wrap-group">
                <span translate="jurisdictions.maintenance.overview.type" class="pull-left input-wrap"></span>
                <ip-radio-button label="jurisdictions.maintenance.overview.types.country" value="0" ng-model="vm.formData.type" name="typeCountry" ng-class="{edited: vm.maintenance.typeCountry.$dirty}">
                </ip-radio-button>
                <ip-radio-button label="jurisdictions.maintenance.overview.types.group" value="1" ng-model="vm.formData.type" name="typeGroup" ng-class="{edited: vm.maintenance.typeGroup.$dirty}">
                </ip-radio-button>
                <ip-radio-button label="jurisdictions.maintenance.overview.types.ipOnly" value="3" ng-model="vm.formData.type" name="typeIpOnly" ng-class="{edited: vm.maintenance.typeIpOnly.$dirty}">
                </ip-radio-button>
            </div>
        </div>
        <div class="row">
            <ip-text-field name="code" ip-required label="jurisdictions.maintenance.overview.code" ng-model="vm.formData.id" ng-maxlength="3" ng-class="{edited: vm.maintenance.code.$dirty}" ip-autofocus></ip-text-field>
        </div>
        <div class="row">
            <ip-text-field name="name" label="jurisdictions.maintenance.overview.name" ng-model="vm.formData.name" ng-maxlength="60" ip-required ng-class="{edited: vm.maintenance.name.$dirty}"></ip-text-field>
        </div>
    </div>
</div>