<div translate-namespace="modal.discardchanges" id="discardChangesModal">
    <div class="modal-header">
        <h2 class="modal-title" id="modalPendingLabel" translate=".title"></h2>
    </div>
    <div class="modal-body">
        <p translate=".discardMessage"></p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn" data-ng-click="cancel()" translate=".cancel"></button>
        <button type="button" class="btn btn-discard" data-ng-click="confirm()" translate=".discardButton"></button>
    </div>
</div>
