<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="export" type="Inprotech.Core.Business.Search.Export.Configuration.ExportSection, Inprotech.Core.Business"
             allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" restartOnExternalChanges="false" />
  </configSections>
  <export is-asynchronous="true" command-timeout="300" compress-image="false">
    <pdf company-logo="images/header/company_logo.png" display-logo="true" display-logo-on-first-page-only="true"
         title-color="#00156E" title-background-color="#FFFFFF"
         row-background-color="#FFFFFF" row-alternate-background-color="#F1FBFF"
         margin-top="10" margin-right="10" margin-bottom="10" margin-left="10"
         border-color="#9FAABF"
         column-header-background-color="#CDDEF2"
         icon-checkbox-checked="images/CPASS/checkbox2.check.png" icon-checkbox-unchecked=""
         image-resize-mode="Default"
         max-image-dimension="48X48">
    </pdf>
    <excel title-color="#00156E" title-background-color="#FFFFFF"
          row-background-color="#FFFFFF" row-alternate-background-color="#F1FBFF"
          border-color="#9FAABF"
          column-header-background-color="#CDDEF2"
          paper-size="Default"
          page-orientation="Portrait"
          image-resize-mode="Default"
          max-image-dimension="48X48">
    </excel>
    <word company-logo="images/header/company_logo.png" display-logo="true" display-logo-on-first-page-only="true"
          title-color="#00156E" title-background-color="#FFFFFF"
          row-background-color="#FFFFFF" row-alternate-background-color="#F1FBFF"
          margin-top="10" margin-right="10" margin-bottom="10" margin-left="10"
          border-color="#9FAABF"
          column-header-background-color="#CDDEF2"
          paper-size="Default"
          page-orientation="Portrait"
          image-resize-mode="Default"
          max-image-dimension="48X48">
    </word>
  </export>
</configuration>