<div class="row">
    <div class="col-sm-1">
        <span translate="policing.queue.errors.title"></span>
        <span id="errorCount" class="badge warning">{{ vm.totalErrorCount }}</span>
    </div>

    <div class="col-sm-11">
        <ip-kendo-grid data-id="error" data-grid-options="vm.errorGridOptions" class="col-sm-12">
        </ip-kendo-grid>
    </div>

    <div class="col-sm-offset-1 col-sm-11">
        <a href id="viewAllErrors" ng-click="vm.viewErrors()" ng-class="pointerCursor" ng-if="vm.totalErrorCount > 5">
            <span translate="policing.queue.errors.more" translate-values="{totalErrorCount: vm.totalErrorCount}"></span>
        </a>
    </div>
</div>
