<!-- <div class="input-group" style="display: inline-block; width:180px">
    <input type="text" class="ng-isolate-scope ng-pristine ng-valid-date ng-valid ng-valid-required datepicker-input" datepicker-popup="{{user.preferences.dateFormat || 'dd MMM yyyy'}}" ng-model="bindValue" data-ng-required="isRequired" is-open="opened" in-parse-date="bindValue" min-date="minDate" max-date="maxDate" ng-disabled="isDisabled" style="width: 130px; height: 36px" />
    <span style="display: inline-block">
        <button type="button" class="btn btn-default" ng-click="open($event)" ng-disabled="isDisabled" style="margin-top: -1px; height: 36px"><i class="cpa cpa-icon-calendar"></i></button>
    </span>
</div> -->
<ip-datepicker ng-model="bindValue" min-date="minDate"></ip-datepicker>
