<div class="login-centered" id="mainContent">
    <div>
        <div class="row">
            <div class="login-brand-logo"></div>
        </div>
        <div class="loader login-loading-info" *ngIf="status === 'loading'">
            <span class="spinner">
                <div class="pie"></div>
                <div class="pie delay-1"></div>
                <div class="pie delay-3"></div>
                <div class="pie delay-2"></div>
            </span>
        </div>

        <div class="panel login-panel" *ngIf="!showChangePasswordPanel()">
            <div class="panel-heading login-panelHeader">
                <h3 id="titleForgotPassword" class="panel-title text-right">
                    {{ 'forgotPassword' | translate }}</h3>
            </div>
            <div class="row no-padding login-centered">
                <div class="login-alert login-alert-info">
                    <div id="infoMessage" class="login-alert-infotext">
                        {{ 'sendLinkLabel' | translate }}
                    </div>
                </div>
            </div>
            <div class="row no-padding login-centered">
                <div id="errorMessage" *ngIf="formData.error || formData.errorFromServer"
                    [@toggle]="formData.error || formData.errorFromServer" class="login-alert login-alert-error">
                    {{ (formData.error|| formData.errorFromServer) | translate }} </div>
                <div id="successMessage" *ngIf="formData.success" class="login-alert login-alert-error"
                    style="background-color: #008000">
                    {{ (formData.success) | translate }} </div>
            </div>
            <div class="row login-marginTop login-centered">
                <div class="col-xs-10 col-sm-9 col-md-10 col-lg-10 login-centerAlign">
                    <form (ngSubmit)="send()" name="form2" #form2="ngForm" novalidate>
                        <div class="row form-group">
                            <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3 no-padding login-label-holder">
                                <label class="login-label">{{ 'lblUsername' | translate }}</label>
                            </div>
                            <div class="col-xs-8 col-sm-8 col-md-9 col-lg-9 no-padding">
                                <input type="text" autocomplete="off" name="loginId" class="form-control login-input"
                                    [(ngModel)]="formData.userName" [disabled]="formData.disableSendLinkFormControl">
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3 no-padding login-label-holder">
                                &nbsp;
                            </div>
                            <div class="col-xs-8 col-sm-8 col-md-9 col-lg-9 no-padding text-right">
                                <button name="cancel" type="button"
                                    class="login-btn login-btn-secondary login-button-cancel pull-right"
                                    (click)="cancel()">
                                    {{ 'cancel' | translate}}</button>
                                &nbsp;
                                <button name="send" type="submit" [disabled]="formData.disableSendLinkFormControl"
                                    class="login-btn login-button-signIn pull-right">{{ 'sendEmail' | translate}}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="panel login-panel" *ngIf="showChangePasswordPanel()">

            <div class="panel-heading login-panelHeader">
                <h3 class="panel-title text-right">
                    {{ 'resetPassword' | translate }}</h3>
            </div>
            <div style="min-width: 610px;">
            </div>
            <div *ngIf="isExpired" class="row no-padding login-centered">
                <div class="login-alert login-alert-info">
                    <div id="resetPasswordInfoMessage" class="login-alert-infotext">
                        {{ 'resetPasswordInfoMessage' | translate }}
                    </div>
                </div>
            </div>
            <div class=" row no-padding login-centered" style="min-width: 450px">
                <div id="errorMessage" *ngIf="(formData.error || formData.errorFromServer)"
                    [@toggle]="formData.error || formData.errorFromServer" class="login-alert login-alert-error">
                    {{ (formData.error || this.formData.errorFromServer) | translate }}
                    <div *ngIf="formData.status == 'passwordPolicyValidationFailed'; then content">
                    </div>
                    <ng-template #content>
                        <ul style="padding-inline-start: 20px;">
                            <li *ngFor=" let item of passwordPolicyContent; trackBy: trackByFn">{{item}}</li>
                        </ul>
                    </ng-template>
                </div>
                <div id="successMessage" *ngIf="formData.success" class="login-alert login-alert-error"
                    style="background-color: #008000">
                    {{ (formData.success) | translate }} </div>
            </div>
            <div class="row login-marginTop login-centered">
                <div class="col-xs-10 col-sm-9 col-md-10 col-lg-10 login-centerAlign">
                    <form (ngSubmit)="save()" name="form2" #changepasswordform="ngForm" novalidate>
                        <div *ngIf="isExpired" class="row form-group">
                            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 no-padding login-label-holder">
                                <label class="login-label">{{ 'oldPassword' | translate}}</label>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-8 col-lg-8 no-padding">
                                <input type="password" autocomplete="off" name="oldPassword"
                                    [disabled]="formData.disableChangePsswordFormControl"
                                    class="form-control login-input" [(ngModel)]="formData.oldPassword">
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 no-padding login-label-holder">
                                <label class="login-label">{{ 'newpassword' | translate}}</label>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-8 col-lg-8 no-padding">
                                <input type="password" autocomplete="off" name="newPassword"
                                    [disabled]="formData.disableChangePsswordFormControl"
                                    class="form-control login-input" [(ngModel)]="formData.newPassword">
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 no-padding login-label-holder">
                                <label class="login-label">{{ 'confirmpassword' | translate}}</label>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-8 col-lg-8 no-padding">
                                <input type="password" autocomplete="off" name="confirmPassword"
                                    [disabled]="formData.disableChangePsswordFormControl"
                                    class="form-control login-input" [(ngModel)]="formData.confirmPassword">
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="text-right">
                                <button name="cancel" type="button"
                                    class="login-btn login-btn-secondary login-button-cancel"
                                    (click)="cancel()">{{ 'cancel' | translate}}</button>
                                &nbsp;
                                <button name="send" type="submit" [disabled]="formData.disableChangePsswordFormControl"
                                    class="login-btn login-button-signIn pull-right">{{ 'save' | translate}}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row centered login-footer">
            <div class="col-xs-12 login-label">
                <p>
                    <small>
                        <span>© {{ systemInfo.releaseYear }} CPA Global Software Solutions Australia Pty Ltd </span>
                        |
                        <span *ngIf="systemInfo.inprotechVersion != ''">Inprotech
                            ({{ systemInfo.inprotechVersion }})</span>&nbsp;
                        <span *ngIf="systemInfo.appVersion!= ''">App ({{ systemInfo.appVersion }})</span>
                    </small>
                </p>
            </div>
        </div>
    </div>
</div>