<div>
    <div class="modal-header">
        <h2 class="modal-title" translate="policing.queue.nextRunTimeModal.header">
        </h2>
        <div class="modal-header-controls">
            <ip-save-button ng-click="save()" ng-disabled="isSaveDisabled()" id="Save"></ip-save-button>
            <ip-close-button ng-click="dismissAll()" id="dismissAll"></ip-close-button>
        </div>
    </div>
    <div class="modal-body" ng-init="initShortcut()">
        <div class="row">
            <label class="text-wrap" translate="policing.queue.nextRunTimeModal.description"></label>
        </div>
        <br/>
        <div class="row">
            <div ng-form="nextrunform">

                <ip-datepicker id="date" name="date" class="col-sm-6 fixed-datepicker" ng-model="selectedDate" label="policing.queue.nextRunTimeModal.date"></ip-datepicker>

                <div class="input-wrap col-sm-4">

                    <div class="col-sm-2 text-right">
                        <label translate="policing.queue.nextRunTimeModal.time"></label>
                    </div>
                    <div class="col-sm-4">
                        <select id="starthour" name="starthour" data-ng-model="selectedHour" data-ng-required="" data-ng-class="{ 'edited': nextrunform.starthour.$dirty }">
                            <option value="00">00</option>
                            <option value="01">01</option>
                            <option value="02">02</option>
                            <option value="03">03</option>
                            <option value="04">04</option>
                            <option value="05">05</option>
                            <option value="06">06</option>
                            <option value="07">07</option>
                            <option value="08">08</option>
                            <option value="09">09</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                            <option value="16">16</option>
                            <option value="17">17</option>
                            <option value="18">18</option>
                            <option value="19">19</option>
                            <option value="20">20</option>
                            <option value="21">21</option>
                            <option value="22">22</option>
                            <option value="23">23</option>
                        </select>
                    </div>
                    <div class="col-sm-1 text-center">
                        <label>:</label>
                    </div>
                    <div class="col-sm-4">
                        <select id="startminute" name="startminute" data-ng-model="selectedMinutes" data-ng-required="" data-ng-class="{ 'edited': nextrunform.startminute.$dirty }">
                            <option value="00">00</option>
                            <option value="05">05</option>
                            <option value="10">10</option>
                            <option value="15">15</option>
                            <option value="20">20</option>
                            <option value="25">25</option>
                            <option value="30">30</option>
                            <option value="35">35</option>
                            <option value="40">40</option>
                            <option value="45">45</option>
                            <option value="50">50</option>
                            <option value="55">55</option>
                        </select>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>