<div class="row">
    <div class="text-right">
        <ip-add-button ng-click="vm.onAddClick()" ng-if="vm.canEdit"></ip-add-button>
    </div>

    <div class="row">
        <ip-kendo-grid data-id="dateLogicRules" 
                       data-grid-options="vm.gridOptions"
                       data-show-add="vm.canEdit"
                       data-on-add-click="vm.onAddClick()"
                       data-add-item-name="{{'workflows.eventcontrol.dateLogic.title' | translate}}">
        </ip-kendo-grid>
    </div>
</div>
