<div ng-form="vm.form" ip-form translate-namespace="workflows.eventcontrol.dateComparison.maintenance">
    <ip-maintenance-modal-header 
        data-page-title="{{:: vm.title}}" 
        data-dismiss="vm.dismiss()" 
        data-on-apply="vm.apply()" 
        data-is-apply-enabled="vm.isApplyEnabled()" 
        data-has-unsaved-changes="vm.hasUnsavedChanges()"
        data-is-add-another="vm.isAddAnother"
        is-edit-mode="vm.isEditMode"
    ></ip-maintenance-modal-header>

    <ip-workflows-eventcontrol-modal-subheader
        is-edit-mode="vm.isEditMode"
        all-items="vm.allItems" 
        current-item="vm.currentItem" 
        criteria-number="vm.criteriaId"
        event-number="vm.eventId"
        event-description="vm.eventDescription"
        on-navigate="vm.onNavigate">            
    </ip-workflows-eventcontrol-modal-subheader>

    <div class="modal-body">
        <div class="row">
            <h3>
                <span translate=".eventA"></span>
            </h3>
        </div>
        <div class="row">
            <ip-typeahead label=".eventA" ip-required ip-autofocus ng-class="{edited: vm.form.eventA.$dirty}" name="eventA" ng-model="vm.formData.eventA" ng-change="vm.onEventAChange()" data-config="eventsFilteredByCriteria" data-picklist-can-maintain="true" data-external-scope="vm.eventPicklistScope" data-extend-query="vm.eventPicklistScope.extendQuery">
            </ip-typeahead>
        </div>
        <div class="row">
            <div class="input-wrap-group group-inline">
                <span translate=".use"></span>
                <ip-radio-button label="workflows.common.eventDate" value="Event" ng-model="vm.formData.eventADate" name="eventAEventDate" ng-class="{edited: vm.form.eventAEventDate.$dirty}">
                </ip-radio-button>
                <ip-radio-button label="workflows.common.dueDate" value="Due" ng-model="vm.formData.eventADate" name="eventADueDate" ng-class="{edited: vm.form.eventADueDate.$dirty}">
                </ip-radio-button>
                <ip-radio-button label=".eventOrDue" value="EventOrDue" ng-model="vm.formData.eventADate" name="eventAEventOrDue" ng-class="{edited: vm.form.eventAEventOrDue.$dirty}">
                </ip-radio-button>
            </div>
        </div>
        <div class="row">
            <ip-dropdown ng-class="{edited: vm.form.eventARelativeCycle.$dirty}" name="eventARelativeCycle" ip-required label="workflows.common.relCycle" ng-model="vm.formData.eventARelativeCycle" options="option.key as option.value | translate for option in vm.relativeCycles | filter:{ showAll: 'true'}">
            </ip-dropdown>
        </div>
        <div class="row">
            <h3>
                <span translate=".chooseComparisonMethod"></span>
            </h3>
        </div>
        <div class="row">
            <ip-dropdown ng-class="{edited: vm.form.comparisonOperator.$dirty}" name="comparisonOperator" ip-required label=".eventAIs" ng-model="vm.formData.comparisonOperator" ng-change="vm.onComparisonOperatorChanged()" options="option.value for option in vm.operators track by option.key">
            </ip-dropdown>
            <div ng-if="vm.showComparisonTypes" class="input-wrap-group group-inline">
                <span>&nbsp;</span>
                <ip-radio-button label=".eventB" value="eventB" ng-model="vm.comparisonType" ng-change="vm.onComparisonTypeChange()" name="compareWithEventB" ng-class="{edited: vm.form.compareWithEventB.$dirty}">
                </ip-radio-button>
                <ip-radio-button label=".date" value="date" ng-model="vm.comparisonType" ng-change="vm.onComparisonTypeChange()" name="compareWithDate" ng-class="{edited: vm.form.compareWithDate.$dirty}">
                </ip-radio-button>
                <ip-radio-button label=".systemDate" value="systemDate" ng-model="vm.comparisonType" ng-change="vm.onComparisonTypeChange()" name="compareWithSystemDate" ng-class="{edited: vm.form.compareWithSystemDate.$dirty}">
                </ip-radio-button>
            </div>
        </div>
        <div ng-if="vm.showEventB">
            <div class="row">
                <h3>
                    <span translate=".compareWith"></span>
                </h3>
            </div>
            <div class="row">
                <ip-typeahead label=".eventB" ip-required ng-class="{edited: vm.form.eventB.$dirty}" name="eventB" ng-model="vm.formData.eventB" ng-change="vm.onEventBChange()" data-config="eventsFilteredByCriteria" data-picklist-can-maintain="true" data-external-scope="vm.eventPicklistScope" data-extend-query="vm.eventPicklistScope.extendQuery">
                </ip-typeahead>
                <div class="input-wrap-group group-inline">
                    <span translate=".use"></span>
                    <ip-radio-button label="workflows.common.eventDate" value="Event" ng-model="vm.formData.eventBDate" name="eventBEventDate" ng-class="{edited: vm.form.eventBEventDate.$dirty}">
                    </ip-radio-button>
                    <ip-radio-button label="workflows.common.dueDate" value="Due" ng-model="vm.formData.eventBDate" name="eventBDueDate" ng-class="{edited: vm.form.eventBDueDate.$dirty}">
                    </ip-radio-button>
                    <ip-radio-button label=".eventOrDue" value="EventOrDue" ng-model="vm.formData.eventBDate" name="eventBEventOrDue" ng-class="{edited: vm.form.eventBEventOrDue.$dirty}">
                    </ip-radio-button>
                </div>
            </div>
            <div class="row">
                <ip-dropdown ng-class="{edited: vm.form.eventBRelativeCycle.$dirty}" name="eventBRelativeCycle" ip-required label="workflows.common.relCycle" ng-model="vm.formData.eventBRelativeCycle" options="option.key as option.value | translate for option in vm.relativeCycles | filter:{ showAll: 'true'}">
                </ip-dropdown>
            </div>
            <div class="row">
                <ip-typeahead name="compareRelationship" ng-class="{edited: vm.form.compareRelationship.$dirty}" data-config="relationship" ng-model="vm.formData.compareRelationship">
                </ip-typeahead>
            </div>
        </div>
        <div ng-if="vm.showDate">
            <div class="row">
                <h3>
                    <span translate=".compareWith"></span>
                </h3>
            </div>
            <div class="row">
                    <ip-datepicker ip-required id="compareDate" name="compareDate" ng-model="vm.formData.compareDate" label="workflows.eventcontrol.dateComparison.maintenance.date"></ip-datepicker>
            </div>
        </div>
    </div>
</div>
