<div ng-form="vm.form" ip-form translate-namespace="workflows.eventcontrol.dueDateCalc.maintenance">
    <ip-maintenance-modal-header 
        data-page-title="{{:: vm.title}}" 
        data-dismiss="vm.dismiss()" 
        data-on-apply="vm.apply()" 
        data-is-apply-enabled="vm.isApplyEnabled()" 
        data-has-unsaved-changes="vm.hasUnsavedChanges()" 
        data-is-add-another="vm.isAddAnother"
        is-edit-mode="vm.isEditMode">
    </ip-maintenance-modal-header>    
    <ip-workflows-eventcontrol-modal-subheader
        is-edit-mode="vm.isEditMode"
        all-items="vm.allItems" 
        current-item="vm.currentItem" 
        criteria-number="vm.criteriaId"
        event-number="vm.eventId"
        event-description="vm.eventDescription"
        on-navigate="vm.onNavigate">            
    </ip-workflows-eventcontrol-modal-subheader>
    <div class="modal-body">
        <div class="row">
            <h3>
                <span translate=".chooseEvent"></span>
            </h3>
        </div>
        <div class="row">
            <ip-typeahead label="workflows.common.event" ip-required ng-class="{edited: vm.form.fromEvent.$dirty}" name="fromEvent" ng-model="vm.formData.fromEvent" ng-change="vm.onFromEventChange()" ip-autofocus data-config="eventsFilteredByCriteria" data-picklist-can-maintain="true" data-external-scope="vm.eventPicklistScope" data-extend-query="vm.eventPicklistScope.extendQuery">
            </ip-typeahead>
        </div>
        <div class="row">
            <div class="input-wrap-group group-inline">
                <span>&nbsp;</span>
                <ip-radio-button label="workflows.common.eventDate" ng-value="1" ng-model="vm.formData.fromTo" name="calculateFromEventDate" ng-class="{edited: vm.form.calculateFromEventDate.$dirty}"></ip-radio-button>
                </ip-radio-button>
                <ip-radio-button label="workflows.common.dueDate" ng-value="2" ng-model="vm.formData.fromTo"  name="calculateFromDueDate" ng-class="{edited: vm.form.calculateFromDueDate.$dirty}"></ip-radio-button>
                </ip-radio-button>
                <ip-radio-button label=".either" ng-value="3" ng-model="vm.formData.fromTo" name="calculateFromEither" ng-class="{edited: vm.form.calculateFromEither.$dirty}"></ip-radio-button>
                </ip-radio-button>
                <ip-inline-dialog data-content="{{:: 'workflows.eventcontrol.dueDateCalc.gridBlurb.either' | translate}}" data-placement="right"></ip-inline-dialog>
            </div>
        </div>

        <div class="row">
            <div class="input-wrap-group group-inline">
                <span>&nbsp;</span>
                <ip-checkbox label=".mustExist" ng-model="vm.formData.mustExist" name="mustExist" ng-class="{edited: vm.form.mustExist.$dirty}">
                </ip-checkbox>
                <ip-inline-dialog data-content="{{:: 'workflows.eventcontrol.dueDateCalc.gridBlurb.mustExist' | translate}}" data-placement="right"></ip-inline-dialog>
            </div>
        </div>

        <div class="row">
            <h3>
                <span class="label-legend" translate=".setupCalculation"></span>
            </h3>
        </div>

        <div class="row">
            <div class="input-wrap-group group-inline">
                <span translate="workflows.eventcontrol.dueDateCalc.operator"></span>
                <ip-radio-button label="workflows.eventcontrol.dueDateCalc.operatorMap.add" value="A" ng-model="vm.formData.operator" name="dueDateCalcOperatorAdd"  ng-class="{edited: vm.form.dueDateCalcOperatorAdd.$dirty}">
                </ip-radio-button>
                <ip-radio-button label="workflows.eventcontrol.dueDateCalc.operatorMap.subtract" value="S" ng-model="vm.formData.operator" name="dueDateCalcOperatorSubtract"  ng-class="{edited: vm.form.dueDateCalcOperatorSubtract.$dirty}">
                </ip-radio-button>
            </div>
        </div>

        <div class="row">
            <ip-text-dropdown-group ip-required ng-class="{edited: vm.form.period.$dirty}" ip-data-type="nonNegativeInteger" name="period" label="workflows.common.period" ng-model="vm.formData.period" data-text-field="value" data-option-field="type" options="option.key as option.value | translate for option in vm.periodTypes" is-text-disabled="vm.isPeriodTextDisabled" ng-change="vm.onPeriodChange()"
                warning-text="vm.getPeriodWarningText()">
            </ip-text-dropdown-group>
        </div>

        <div class="row">
            <ip-dropdown ng-class="{edited: vm.form.relativeCycle.$dirty}" name="relativeCycle" ip-required label="workflows.common.relCycle" ng-model="vm.formData.relativeCycle" options="option.key as option.value | translate for option in vm.relativeCycles | filter:{ showAll: 'true'}">
            </ip-dropdown>
        </div>

        <div class="row">
            <ip-dropdown ng-class="{edited: vm.form.adjustBy.$dirty}" name="adjustBy" label=".adjustBy" ng-model="vm.formData.adjustBy" options="option.key as option.value | translate for option in vm.adjustByOptions" ng-change="vm.onAdjustByChange()"
                         warning-text="vm.getAdjustByWarningText()">
            </ip-dropdown>
        </div>

        <div class="row">
            <ip-dropdown ng-class="{edited: vm.form.nonWorkDay.$dirty}" name="nonWorkDay" label=".ifNonWorkDay" ng-model="vm.formData.nonWorkDay" options="option.key as option.value | translate for option in vm.nonWorkDayOptions">
            </ip-dropdown>
        </div>


        <div class="row">
            <h3>
                <span class="label-legend" translate=".calculationApplies"></span>
                <ip-inline-dialog data-template="condor/configuration/rules/workflows/eventcontrol/calculation-applies-popover.html" data-placement="right"></ip-inline-dialog>
            </h3>
        </div>

        <div class="row">
            <ip-text-field ip-required ng-class="{edited: vm.form.cycle.$dirty, error: vm.form.cycle.$invalid}" name="cycle" label=".toCycle" ng-class="{edited: vm.formData.isDirty('cycle')}" ng-model="vm.formData.cycle" ng-disabled="vm.isCycleDisabled" ip-data-type="positiveinteger"
                           warning-text="vm.getToCycleWarningText()">
            </ip-text-field>
        </div>
        <div class="row">
            <ip-typeahead name="jurisdiction" ng-class="{edited: vm.form.jurisdiction.$dirty}" label=".toJurisdiction" ng-model="vm.formData.jurisdiction" ng-disabled="vm.isJurisdictionDisabled" data-config="jurisdiction" data-picklist-can-maintain="true">
            </ip-typeahead>
        </div>

        <div class="row">
            <h3>
                <span class="label-legend" translate=".chooseDocument"></span>
                <ip-inline-dialog data-content="{{:: 'workflows.eventcontrol.dueDateCalc.gridBlurb.substituteDocument' | translate}}" data-placement="right"></ip-inline-dialog>
            </h3>
        </div>

        <div class="row">
            <ip-typeahead name="document" ng-class="{edited: vm.form.document.$dirty}" ng-model="vm.formData.document" data-extend-query="vm.setDocumentGenerationCompatibility" data-config="document">
            </ip-typeahead>
        </div>

        <div class="row">
            <h3>
                <span class="label-legend" translate=".reminders"></span>
                <ip-inline-dialog data-content="{{:: 'workflows.eventcontrol.dueDateCalc.gridBlurb.reminders' | translate}}" data-placement="right"></ip-inline-dialog>
            </h3>
        </div>
        <div class="row">
            <div class="input-wrap-group">
                <span translate=".options"></span>

                <ip-radio-button label=".standardReminder" value="standard" ng-model="vm.formData.reminderOption" name="reminderOptionStandard" ng-class="{edited: vm.form.reminderOptionStandard.$dirty}">
                </ip-radio-button>

                <ip-radio-button label=".alternateReminder" value="alternate" ng-model="vm.formData.reminderOption" name="reminderOptionAlternate" ng-class="{edited: vm.form.reminderOptionAlternate.$dirty}">
                </ip-radio-button>

                <ip-radio-button label=".suppressReminders" value="suppressAll" ng-model="vm.formData.reminderOption" name="reminderOptionSuppress" ng-class="{edited: vm.form.reminderOptionSuppress.$dirty}">
                </ip-radio-button>
            </div>
        </div>
    </div>
</div>
