.lineheader {
    font-weight: bold; 
    line-height:40px;
    text-align: left;
    padding-left: 8px;
}
 
.taxLabel {
    text-align: right;
    padding-top: 6px;
    padding-right: 5px;
}

.taxDropdownFields {
    margin-left: -10px;
}

