.wizard-header ul li.step {
    text-align: center;
    margin-left: -30px;
    &::before {
        width: 122px;
    };
    white-space: nowrap;
}
.wizard-header ul li.first {
    margin-right: 36px;
}