<?xml version="1.0" encoding="utf-8"?>
<appSettings>
	<add key="InstanceName" value="DefaultInstance" />
  <add key="PrivateKey" value="j71GprPi37JZnM6v" /><!-- Must be 16 characters -->
  <add key="LegacyPrivateKey" value="Y3BhZ2wwYmFs"/>
	<add key="Host" value="*" />
	<add key="Path" value="inprotech-storage-service" />
	<add key="Port" value="80" />
  <add key="AnalyticsIdentifierPrivateKey" value="Fg2342;>$%/dEw23" />
</appSettings>