<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">
	<extensions>
		<add assembly="Microsoft.ApplicationInsights.NLogTarget" />
	</extensions>
	<targets>
		<target name="console" xsi:type="Console" layout="${longdate} ${level} ${message}" />
		<target name="default-log-file" xsi:type="File" fileName="Logs\${shortdate}.log"
		        layout="${longdate}|${level:uppercase=true}|${logger}${newline}${message}${newline}${all-event-properties:separator=\r\n}${newline}Additional Information:${newline}${event-context:AdditionalInformation}${newline}${onexception:EXCEPTION OCCURRED\:${exception:format=type,message,stacktrace:maxInnerExceptionLevel=15}}${newline}" />
		<target name="debug-log-file" xsi:type="File" fileName="Logs\${shortdate}-debug.log"
		        layout="${longdate}|${level:uppercase=true}|${message}${newline}${all-event-properties:separator=\r\n}${onexception:EXCEPTION OCCURRED\:${exception:format=type,message,stacktrace:maxInnerExceptionLevel=15}}${newline}" />
		<target name="security" xsi:type="File" fileName="Logs\security\${shortdate}.log"
		        layout="${longdate}|${level:uppercase=true}|${logger}${newline}${message}${newline}Additional Information:${newline}${event-context:AdditionalInformation}${newline}${onexception:EXCEPTION OCCURRED\:${exception:format=type,message,stacktrace:maxInnerExceptionLevel=15}}${newline}" />
		<target type="ApplicationInsightsTarget" name="aiTarget" />
	</targets>
	<rules>
		<logger name="*DataSecurityException" minlevel="warn" writeTo="security" final="true" />
		<logger name="*" minlevel="Trace" writeTo="aiTarget" />
		<logger name="*" minlevel="Debug" writeTo="console" />
		<logger name="*" minlevel="Info" writeTo="default-log-file" />
	</rules>
</nlog>