<?xml version="1.0" encoding="utf-8"?>

<appSettings xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<add key="ClockInterval" value=".5" xdt:Transform="Insert" />
	<!--in minutes-->
	<add key="InnographyOverrides:pp" value="http://localhost/e2e/" xdt:Transform="Insert" xdt:Locator="Match(key)" />
	<add key="UsptoBaseUrl" value="http://localhost/e2e/integration/uspto/Pair/" xdt:Transform="Insert" />
  <add key="TsdrBaseUrl" value="http://localhost/e2e/integration/uspto/Tsdr/" xdt:Transform="Insert" />
  <add key="TsdrBaseDocUrl" value="http://localhost/e2e/integration/uspto/Tsdr/" xdt:Transform="Insert" />
  <add key="EpoAuthUrl" value="http://localhost/e2e/integration/epo/auth/accesstoken" xdt:Transform="Insert" />
	<add key="EpoBaseUrl" value="http://localhost/e2e/integration/epo/epregister/" xdt:Transform="Insert" />
	<add key="EpoBaseApiUrl" value="http://localhost/e2e/integration/epo/ops/" xdt:Transform="Insert" />
	<add key="BypassSslCertificateCheck" value="true" xdt:Transform="Insert" />
  
	<!--<add key="FileBaseApiUrl" value="https://ipclouddynamiccontent3s3kijiuato26.azurewebsites.net:443/" xdt:Transform="Insert" />-->

	<add key="cpa.sso.clientId" value="inprotech" xdt:Transform="Replace" xdt:Locator="Match(key)" />
	<add key="cpa.sso.clientSecret" value="WbaBuv98Tqr4oblLIoIIP4dm5KV9eVQThFoIXK8TyhBPFlYgOaPjhKjO524Y2Hdg" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
</appSettings>