.searchOptions {
    padding-left: 10px;
}

.searchOptions label {
    padding-left: 10px;
}

.heading {
    margin-top: 15px;
}

.searchHeader.ipx-inline-dialog span.inline-dialog {
    top: 0px !important;
    margin-left: 7px !important;
}

.required { color: #CC3300; }