<?xml version="1.0" encoding="utf-8"?>
<appSettings>  
	<add key="name" value="inprotech.server.appsettings"/>
	<add key="IntegrationServerBaseUrl" value="http://localhost/inprotech-integration-server"/>
  <add key="StorageServiceBaseUrl" value="http://localhost/inprotech-storage-service"/>
</appSettings>