<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings configSource="AppSettings.config" />
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="Inprotech" connectionString="inprotech_connectionstring" providerName="System.Data.SqlClient" />
    <add name="InprotechIntegration" connectionString="Data Source=.;Initial Catalog=IPDEVIntegration;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <system.web>
    <machineKey validationKey="401FF6817637C40923FEB65220D30EEB84A8B5D854DA42B8C933EA1695FC4FEC990EC4149DCF31DC7D4F0A793CFE7E428DE118FDEF73432DE27683479575604A" decryptionKey="6051A35AB2F4714BEFA1BDE6F5895C426B5263DBE14F8D7733AF2936083BCD4E" validation="SHA1" decryption="AES" />
  </system.web>
  <system.diagnostics>
    <switches>
      <add name="Microsoft.Owin" value="Verbose" />
    </switches>
    <trace autoflush="true"></trace>
    <sources>      
      <source name="Microsoft.Owin.StaticFiles.StaticFileMiddleware">
        <listeners>
          <add name="console" type="System.Diagnostics.ConsoleTraceListener" />
        </listeners>          
      </source>
    </sources>
  </system.diagnostics>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding maxReceivedMessageSize="104857600" name="PatentInformation.Basic">
          <security mode="None" >
            <transport clientCredentialType="None" />
          </security>
        </binding>
        <binding maxReceivedMessageSize="104857600" name="PatentInformation.BasicSSL">
          <security mode="Transport" >
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://search-prod.ids.cpaglobal.com/DiscoverWebService/PatentDocumentService.wsdl"
        binding="basicHttpBinding" bindingConfiguration="PatentInformation.BasicSSL"
        contract="Discover.Proxies.PatentDocumentService" name="PatentInformation.Basic" />
    </client>
  </system.serviceModel>
</configuration>