@{
    ViewBag.Title = "Policing";
}

<div class="row">
    <div class="col-md-12">
        <h2>@Html.ActionLink("Policing Dashboard Tricks", "Policing", "Home")</h2>
        <p>
            Take control of the user testing session by controlling flow of policing requests and instigating failed or erroneous requests. 
        </p>
        <p><li>@Html.ActionLink("Get your hands in the bag!", "Policing", "Home")</li>
        </p>
    </div>
</div>