div {
    padding: 0px;
    margin: 0px;
}

div.detail {
    background: #f9f9f9;
}

div.row.data {
    padding: 5px 3px;
}

div.article-label {
    font-weight: bold;
    span:first-child {
        margin-right: 0.3em;
    }
}

label.toggle {
    cursor: pointer !important;
}

hr {
    margin-top: 5px;
    margin-bottom: 5px;
}
