<div class="input-wrap date" data-ng-class="{ 'error': showError() }">
    <span data-ng-form="form">
        <input type="text" 
        	id="ipDate{{::$id}}" 
        	name="datepicker" 
        	class="datepicker-input basic-addon-r-1" 
        	data-ng-model-options="{timezone: useLocalTimezone ? '' : 'utc'}"
        	data-uib-datepicker-popup="{{ picker.dateFormat }}" 
        	data-datepicker-options="picker.options" 
        	data-alt-input-formats="{{ picker.parseFormats }}" 
        	data-clear-text="{{::datepicker.clear | translate }}" 
        	data-close-text="{{::datepicker.close | translate }}" 
        	data-current-text="{{::datepicker.today | translate }}" 
        	data-show-button-bar="false" 
        	data-is-open="picker.opened" 
        	data-ng-model="date" 
        	data-ng-blur="blur()" />
        <span class="input-wrap-addon">
            <button type="button" class="btn btn-default" data-ng-click="open($event)"><i class="cpa cpa-icon-calendar"></i></button>
        </span>
    </span>
</div>
