<div class="input-wrap" ng-class="{error: vm.ngModel.$invalid, warning: vm.ngModel.$valid && vm.warningText()}" ng-click="vm.ngModel.$setTouched()">
    <label ng-if="::vm.label" translate="{{::vm.label}}"></label> 
    
    <div class="col-xs-8 control-group">
        <input type="text"
               class="col-xs-6"
               ng-model="vm.text"
               ng-disabled="vm.disabled || vm.textDisabled"
               ng-change="vm.change()" />
        <select class="col-xs-6"
                ng-model="vm.option"
                ng-options="{{vm.transform(vm.options)}}"
                ng-disabled="vm.disabled"
                ng-change="vm.change()">
                <option value=""></option>        
        </select>
    </div>
    <span class="input-action tooltip-error">
        <span class="cpa-icon cpa-icon-exclamation-triangle" uib-tooltip="{{vm.getError() | translate }}" tooltip-class="tooltip-error"></span>
    </span>
    <span class="input-action tooltip-warning">
        <span class="cpa-icon cpa-icon-exclamation-circle" uib-tooltip="{{vm.warningText() | translate }}" tooltip-class="tooltip-warning"></span>
    </span>    
</div>
