div {
    padding: 0px;
    margin: 0px;
}

div.detail {
    background: #f9f9f9;
}

div.row.data {
    padding: 5px 3px;
}

div.article-label {
    font-weight: bold;
}

label.toggle {
    cursor: pointer !important;
}