<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
	</configSections>
	<dataConfiguration defaultDatabase="defaultConnection" />
	<connectionStrings>
		<add providerName="System.Data.SqlClient" name="defaultConnection" connectionString="data source=.;database=IPDEV;uid=SYSADM;pwd=SYSADM;Persist Security Info=true;APPLICATION NAME=Inprotech" />
	</connectionStrings>
	<appSettings>
		<add key="connectionStringName" value="defaultConnection" />
		<add key="SingleSignOn" value="true" />
		<add key="SmtpServer" value="smtp.ourdomain.com" />
		<add key="InprotechVersionFriendlyName" value="16R17" />
	</appSettings>
	<httpCompressionModule preferredAlgorithm="gzip" compressionLevel="high">
		<excludedPaths>
		</excludedPaths>
	</httpCompressionModule>
	<location path="." inheritInChildApplications="false">
		<system.serviceModel>
		</system.serviceModel>
	</location>
	<location path="." inheritInChildApplications="false">
		<system.webServer>
			<modules runAllManagedModulesForAllRequests="true">
				<add name="AppsBridgeHttpModule" type="CPASS.SystemFramework.Web.AppsBridgeHttpModule, CPASS.SystemFramework.Web" />
			</modules>
			<rewrite>
				<rules>
					<rule name="HTTP to HTTPS redirect" stopProcessing="true">
						<match url="(.*)" />
						<conditions>
							<add input="{HTTPS}" pattern="off" ignoreCase="true" />
						</conditions>
						<action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
					</rule>
				</rules>
				<outboundRules>
					<rule name="Add Strict-Transport-Security when HTTPS" enabled="true">
						<match serverVariable="RESPONSE_Strict_Transport_Security" pattern=".*" />
						<conditions>
							<add input="{HTTPS}" pattern="on" ignoreCase="true" />
						</conditions>
						<action type="Rewrite" value="max-age=31536000" />
					</rule>
				</outboundRules>
			</rewrite>
		</system.webServer>
	</location>
	<location path="." inheritInChildApplications="false">
		<system.web>
			<httpHandlers>
			</httpHandlers>
			<httpModules>
				<add name="CompressionModule" type="CPASS.SystemFramework.Web.HttpCompress.HttpModule,CPASS.SystemFramework.Web" />
				<add name="CassetteHttpModule" type="Cassette.Aspnet.CassetteHttpModule, Cassette.Aspnet" />
			</httpModules>
			<httpCookies httpOnlyCookies="false" requireSSL="false" />
			<membership defaultProvider="InprotechSsoMembershipProvider">
			</membership>
			<roleManager enabled="true" cacheRolesInCookie="true" cookieName=".CPASSInprotechRoles" defaultProvider="InprotechRoleProvider">
			</roleManager>
			<pages theme="Default" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
				<namespaces>
				</namespaces>
			</pages>
			<authentication mode="AuthModeDummy" >
				<forms name=".CPASSInprotechBlahBlah" path="/" timeout="20" domain="localhost"/>
			</authentication>
			<identity impersonate="false" />
		</system.web>
	</location>
</configuration>