<style>
    .modal-text-small {
        margin-left: 92px;
        width: 25% !important;
    }
    
    .modal-checkbox-offset {
        margin-left: 135px;
    }
</style>
<div ng-form="vm.form.maintenance" ip-form>
    <div class="modal-header">
        <h2 class="modal-title" ng-switch on="vm.entity.state">
            <div ng-switch-when="adding" translate="numberType.maintenance.addNumberType"></div>
            <div ng-switch-when="duplicating" translate="numberType.maintenance.duplicateNumberType"></div>
            <div ng-switch-default translate="numberType.maintenance.editNumberType"></div>
        </h2>
        <div class="modal-header-controls" ng-init="vm.initShortcuts(vm.form.maintenance)">
            <ip-save-button type="button" data-ng-click="vm.save()" data-ng-disabled="vm.disable()"></ip-save-button>
            <ip-close-button data-ng-click="vm.dismissAll(vm.form.maintenance)"></ip-close-button>
        </div>
    </div>
    <div class="modal-body">
        <ip-nav-modal ng-if="vm.isEditState()" all-items="vm.options.allItems" current-item="vm.options.dataItem" has-unsaved-changes="vm.hasUnsavedChanges">
        </ip-nav-modal>
        <div class="row">
            <div>
                <ip-text-field name="numberTypeCode" class="modal-text-small col-sm-8" ip-required label="Code" ng-model="vm.entity.numberTypeCode" ng-class="{'edited': vm.form.maintenance.numberTypeCode.$dirty}" data-ng-maxlength="vm.options.maxNumberTypeLength" ng-disabled="vm.isEditState()" ip-field-error="{{vm.getError('numberTypeCode').message | translate}}"
                    ip-autofocus="{{vm.entity.state === 'adding' || vm.entity.state === 'duplicating'}}"></ip-text-field>
            </div>
        </div>
        <div class="row">
            <div>
                <ip-text-field class="col-sm-8" name="name" ip-required label="Description" ng-model="vm.entity.numberTypeDescription" data-ng-maxlength="30" ng-class="{'edited': vm.form.maintenance.name.$dirty}" ip-autofocus="{{vm.entity.state === 'updating'}}"></ip-text-field>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 modal-checkbox-offset">
                <ip-checkbox name="issuedByIpOffice" ng-model="vm.entity.issuedByIpOffice" label="numberType.issuedByIpOffice" ng-class="{edited: vm.form.maintenance.issuedByIpOffice.$dirty}" ng-disabled="vm.maintenanceState === 'viewing'"></ip-checkbox>
            </div>
        </div>
        <div class="row">
            <div>
                <ip-typeahead class="col-sm-8" name="relatedEvent" ng-model="vm.entity.relatedEvent" data-config="event" data-label="numberType.relatedEvent" data-picklist-can-maintain="true" ng-disabled="vm.maintenanceState === 'viewing'" ng-class="{edited: vm.form.maintenance.relatedEvent.$dirty}"></ip-typeahead>
                <ip-inline-dialog class="col-sm-1" data-content="{{::'numberType.relatedEventHelp' | translate}}" data-placement="right"></ip-inline-dialog>
            </div>
        </div>
        <div class="row">
            <div>
                <ip-typeahead class="col-sm-8" name="dataItem" ng-model="vm.entity.dataItem" data-config="dataItem" data-label="numberType.dataItem" ng-disabled="vm.maintenanceState === 'viewing'" ng-class="{edited: vm.form.maintenance.dataItem.$dirty}" data-picklist-can-maintain="true"></ip-typeahead>
                <ip-inline-dialog class="col-sm-1" data-content="{{::'numberType.dataItemHelp' | translate}}" data-placement="right"></ip-inline-dialog>
            </div>
        </div>
    </div>
</div>