<div id="primary-nav">
    <div class="navigation fixed">
        <div class="container-fluid menu-container" ng-transclude>
        </div>
        <div class="pin-menu">
            <a href="" ng-click="vm.togglePinned()" >
                <span class="cpa-icon cpa-icon-thumb-tack ng-scope" name="thumb-tack" ng-if="!vm.pinned"></span>
                <span class="cpa-icon cpa-icon-thumb-tack-pushed ng-scope" name="thumb-tack-pushed" ng-if="vm.pinned"></span>
            </a>
        </div>
    </div>
</div>