<div id="alertModal">
    <div class="modal-header">
        <h2 class="modal-title" id="modalErrorLabel" translate="modal.iePopup.header"></h2>
    </div>
    <div class="modal-body">
        <p translate="modal.iePopup.message"></p>
        <p>
            <span>{{vm.options.url}}</span>
            <span style="cursor:pointer;margin-left: 15px" class="cpa-icon cpa-icon-file-stack-o" name="file-stack-o" ip-tooltip="{{ vm.copyStatus | translate }}" ng-click="vm.copyUrl()"></span>
        </p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn" name="cancel" data-dismiss="modal" data-ng-click="vm.cancel()" translate="button.ok"></button>
    </div>
</div>